<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page - Favicon App</title>
  </head>
  <body>
    <h1>Hey favicon</h1>
    <h2>Hello favicon.ico</h2>
    <p>
      Do you know I rendered you with ExpressJS? That is why you feel good and at home.
    </p>
  </body>
</html>
